* {
    box-sizing: border-box;
}

:root {
    --text: #0a141f;
    --background: #ecf2f9;
    --primary: #8b8bda;
    --secondary: #d4beea;
    --accent: #6e36a6;
}

html, body {
    height: 100%;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,100;1,300;1,500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}
