* {
    box-sizing: border-box;
}

:root {
    --text: #0a141f;
    --background: #ecf2f9;
    --primary: #8b8bda;
    --secondary: #d4beea;
    --accent: #6e36a6;
}

html, body {
    height: 100%;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,100;1,300;1,500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.content {
    height: 100%;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}


.visible {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.hidden {
    display: none;
}

.opening.visible {
   border-radius: 30px;

   margin: max(2%, 15px);

   background-color: var(--secondary);
}

.play-area.visible {

    padding: 20px;

    display: grid;
    grid-template-rows: repeat(2, auto) 1fr;

    row-gap: 10px;
}

.play-area .logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.actions {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.battleground {
    grid-column: 1 / 2;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;

    column-gap: 10px;
    row-gap: 10px;
}

.board-container {
    height: 0;
    width: min(100%, 400px);

    padding-top: min(100%, 400px);

    position: relative;

    justify-self: center;
}

.board {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);

    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.cell {
    background-color: white;
    border: 1px solid black;

    display: grid;
    justify-content: center;
    align-content: center;

    font-size: 25px;
}

.player-list {
    display: grid;
    row-gap: 5px;
    align-content: start;

}

.player-status {
    border-radius: 6px;
    padding: 10px;
    height: 70px;
}

.player-status.active {
    background-color: green;
}
.player-status.idle {
    background-color: red;
}